/* nx ds */
.sl-inputfield {
  --sl-field-height: 30px;
  --sl-field-border: 1px solid rgb(143 143 143);
  --sl-field-font-size: 14px;

  label {
    font-size: 12px;
    display: block;
    color: rgb(80 80 80);
    margin-bottom: 4px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    display: block;
    padding: 0 12px;
    line-height: var(--sl-field-height);
    font-family: var(--body-font-family);
    font-size: var(--sl-field-font-size);
    border-radius: var(--s2-radius-100);
    outline-color: var(--s2-blue-900);
    outline-offset: 0;
    transition: outline-offset 0.2s;
    border: var(--sl-field-border);
    box-sizing: border-box;
  }

  input[type="date"] {
    padding: 0 8px 0 12px;
  }

  input[type="range"] {
    position: relative;
    appearance: none;
    width: 100%;
    outline: none;
  }

  input[type="range"]::after {
    content: "";
    height: 2px;
    border-radius: 1px;
    background: rgb(143 143 143);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    border: 2px solid #464646;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    outline-offset: 0;
    outline-color: var(--s2-blue-900);
    transition: outline-offset 0.2s;
    z-index: 1;
  }

  input:focus-visible {
    outline-offset: 4px;
  }

  select {
    display: block;
    width: 100%;
    padding: 0 12px;
    font-family: var(--body-font-family);
    font-size: var(--sl-field-font-size);
    line-height: var(--sl-field-height);
    border: var(--sl-field-border);
    border-radius: var(--s2-radius-100);
    outline-color: var(--s2-blue-900);
    outline-offset: 0;
    transition: outline-offset 0.2s;
    box-sizing: border-box;
    appearance: none;
  }

  select:focus-visible {
    outline-offset: 4px;
  }

  .sl-inputfield-select-wrapper {
    position: relative;
  }

  .sl-inputfield-select-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: no-repeat center / 18px url("https://da.live/nx/public/icons/Smock_ChevronDown_18_N.svg");
    pointer-events: none;
  }
}

.sl-button {
  &.sl-button-icon-only {
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;
    text-indent: -1000px;
    overflow: hidden;
  }
}

.sl-fieldgroup-two-up {
  display: grid;
  gap: var(--spacing-200);
  grid-template-columns: repeat(2, 1fr);
}

.sl-rule {
  background: #d5d5d5;
  height: 2px;
  border-radius: 1px;
  border: none;
}
